/__pycache__/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/.venv/
.env
plan_manifests.jsonl
pipelines/
.poetry/
.poetry-cache/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
.eggs/
dist/
build/
ENV/
venv/
test.py
